DIRECT_URL="postgres://[DB-USERNAME]:[DB-PASSWORD]@[DB-HOST]:[DB-PORT]/[DB-NAME]"
DATABASE_URL="postgres://[DB-USERNAME]:[DB-PASSWORD]@[DB-HOST]:[DB-PORT]/[DB-NAME]?pgbouncer=true&connection_limit=1"

GOOGLE_CLIENT_ID="[YOUR-GOOGLE-CLIENT-ID]"
GOOGLE_CLIENT_SECRET="[YOUR-GOOGLE-CLIENT-SECRET]"

GITHUB_CLIENT_ID="[YOUR-GITHUB-CLIENT-ID]"
GITHUB_CLIENT_SECRET="[YOUR-GITHUB-CLIENT-SECRET]"
