DIRECT_URL="postgres://[DB-USERNAME]:[DB-PASSWORD]@[DB-HOST]:[DB-PORT]/[DB-NAME]"
DATABASE_URL="postgres://[DB-USERNAME]:[DB-PASSWORD]@[DB-HOST]:[DB-PORT]/[DB-NAME]?pgbouncer=true&connection_limit=1"
